In [1]:
from tqdm import tqdm 
import pandas as pd
import numpy as np
from tqdm import tqdm
import plotly.express as px
from ipywidgets import interact, IntSlider, fixed,Dropdown

ModuleNotFoundError: No module named 'tqdm'

In [2]:
df_s = pd.read_csv('df_s.csv')
df_m = pd.read_csv('df_m.csv')

NameError: name 'pd' is not defined

In [3]:
df_s.head()

,200410,200411,200412,200501,200502,200503,200504,200505,200506,200507,...,202303,202304,202305,202306,202307,202308,202309,202310,202311,202312
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
df_m.head()

,200410,200411,200412,200501,200502,200503,200504,200505,200506,200507,...,202303,202304,202305,202306,202307,202308,202309,202310,202311,202312
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
def plot_rowseries_plotly(df, row_number):
    # Extract the row data
    row_data = df.iloc[row_number]
    #print(row_data)

    # Create a Plotly line chart
    fig = px.line(x=row_data.index, y=row_data.values, markers=True,
                  labels={'x': 'Dat File Numbers', 'y': 'Normalized Values'},
                  title=f'Time Series for Row {row_number}')
    
    fig.show()

In [6]:
def plot_colseries_plotly(df, column_name, row_number):
    # Create a Plotly line chart
    fig = px.line(x=df.index, y=df[column_name], markers=True,
                  labels={'x': 'Row Number', 'y': 'Normalized Values'},
                  title=f'Time Series for {column_name}')
    
    fig.show()

In [7]:
interact(plot_rowseries_plotly, df=fixed(df_s), row_number=IntSlider(min=0, max=len(df_m)-1, value=0, description='Row Number'));

interactive(children=(IntSlider(value=0, description='Row Number', max=1799), Output()), _dom_classes=('widgetâ€¦

In [8]:
interact(plot_rowseries_plotly, df=fixed(df_m), row_number=IntSlider(min=0, max=len(df_m)-1, value=0, description='Row Number'));

interactive(children=(IntSlider(value=0, description='Row Number', max=1799), Output()), _dom_classes=('widgetâ€¦

In [9]:
interact(plot_colseries_plotly,df=fixed(df_m), column_name=Dropdown(options=df_m.columns, value=df_m.columns[0], description='Column Name'),
                  row_number=IntSlider(min=0, max=len(df_m)-1, value=0, description='Row Number'));

interactive(children=(Dropdown(description='Column Name', options=('200410', '200411', '200412', '200501', '20â€¦

In [10]:
interact(plot_colseries_plotly,df=fixed(df_s), column_name=Dropdown(options=df_m.columns, value=df_m.columns[0], description='Column Name'),
                  row_number=IntSlider(min=0, max=len(df_m)-1, value=0, description='Row Number'));

interactive(children=(Dropdown(description='Column Name', options=('200410', '200411', '200412', '200501', '20â€¦

In [16]:
interact(plot_colseries_plotly, df=fixed(df_m), column_name=Select(options=df_m.columns, description='Column Name'), row_number=IntSlider(min=0, max=len(df_m)-1, value=0, description='Row Number'));

interactive(children=(Select(description='Column Name', options=('200410', '200411', '200412', '200501', '2005â€¦

In [15]:
from ipywidgets import interact, RadioButtons, IntSlider, Select